.anj .stats {
	display: flex;
	flex-direction: column;
	text-align: center;
	padding: 30px 30px 30px 10px;
	border-bottom-left-radius: 8.5px;
	border-bottom-right-radius: 8.5px;
	/* min-height: 250px; */
}

@media only screen and (max-width: 450px) {
	.anj .stats {
		padding: 10px;
	}
}
