.switch {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 20px;
	right: 20px;
}


.app {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow-x: hidden;
	padding-top: 30px;
}

.component-container {
	display: flex;
	flex-direction: column;
	max-width: 70%;
	min-width: 70%;
}

.component-sub-container {
	display: flex;
	flex-direction: column;
	border: 1pt solid;
	border-radius: 10px;
	margin-bottom: 50px;
}

.metric-title-container {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
}

.metric-title-container img {
	margin-left: auto;
	margin-right: 20px;
}

.box-title {
	display: flex;
	flex-direction: row;
	align-items: center;
	border-bottom: 1pt solid;
	height: 50px;
	padding: 10px 15px;
	border-top-left-radius: 8.5px;
	border-top-right-radius: 8.5px;
}

.box-title h6 {
	font-weight: 500;
}

.individual-stats h5 {
	padding-top: 0;
}

h1 {
	font-size: 28pt;
	font-weight: bold;
	background: linear-gradient(#3fe8e0, #08bee5);
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

h2 {
	font-size: 22pt;
	font-weight: 800;
}

h3 {
	font-size: 13pt;
	font-weight: 700;
}

h4 {
	height: 25px;
	font-size: 21pt;
	font-weight: bold;
	margin: 0;
}

h5 {
	font-size: 15pt;
	font-weight: 700;
	padding: 20px;
	margin: 0;
}

h6 {
	margin-left: auto;
	font-size: 12pt;
	font-weight: 700;
}

/* Loading PlaceHolder CSS */
.spinner-container {
	min-height: 270px;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
  }
  
  .spinner {
	  width: 25px;
	  height: 25px;
	  position: relative;
	}
	
  .double-bounce1, .double-bounce2 {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	opacity: 0.6;
	position: absolute;
	top: 0;
	left: 0;
	
	-webkit-animation: sk-bounce 2.0s infinite ease-in-out;
	animation: sk-bounce 2.0s infinite ease-in-out;
  }
  
  .double-bounce2 {
	-webkit-animation-delay: -1.0s;
	animation-delay: -1.0s;
  }
  
  @-webkit-keyframes sk-bounce {
	0%, 100% { -webkit-transform: scale(0.0) }
	50% { -webkit-transform: scale(1.0) }
  }
  
  @keyframes sk-bounce {
	0%, 100% { 
	  transform: scale(0.0);
	  -webkit-transform: scale(0.0);
	} 50% { 
	  transform: scale(1.0);
	  -webkit-transform: scale(1.0);
	}
  }
/* End of PlaceHolder CSS */

@media only screen and (max-width: 1000px) {
	.switch {
		top: 25px;
	}
	.component-container {
		min-width: 85%;
		max-width: 85%;
	}
}

@media only screen and (max-width: 450px) {
	.app {
		padding-top: 0px;
	}
	.switch {
		font-size: 8pt;
	}
	h1 {
		font-size: 23pt;
	}
	h2 {
		font-size: 17pt;
	}
	h3 {
		font-size: 10pt;
	}
	h4 {
		font-size: 16pt;
	}
	h5 {
		font-size: 12pt;
		padding: 10px;
	}
	h6 {
		font-size: 7pt;
	}
}
